.button
{
    width: 100%;
    height: 38px;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.button svg
{
    height: 20px;
    width: 20px;
}

.button_primary
{
    background: linear-gradient( to right, var( --violet ), var( --primary-light ) );
    color: var( --white );
    font-size: 16px;
}

.button_primary:hover
{
    filter: brightness( 0.85 );
}

.button_primary:active,
.button_secondary:active
{
    filter: brightness( 0.65 );
    transition: 0.5s;
}

.button_secondary
{
    border: 1px solid var( --blue );
    background: var( --white );
}

.button_secondary:hover
{
    background: var( --orange-100 );
}

.button_secondary span
{
    color: var( --blue );
    font-size: 15px;
}