.container
{
    display: flex;
    flex-direction: column;
    width: 25%;
    min-height: 600px;
    min-width: 400px;
    background-color: var( --white );
    padding: 35px 25px 25px 25px;
    gap: 25px;
    border-radius: 20px;
    user-select: none;
    transition: height 0.3s ease;
}