.container
{
    display: flex;
    flex-direction: column;
    width: 25%;
    min-height: 400px;
    min-width: 800px;
    background-color: var( --white );
    padding: 35px 25px 25px 25px;
    gap: 25px;
    border-radius: 15px;
    user-select: none;
}

.icon
{
    color: var( --white );
}

.option_content
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

.button_container
{
    display: flex;
    justify-content: end;
    padding-top: 25px;
}