.separator
{
    display: flex;
    align-items: center;
    gap: 10px;
}

.separator::before,
.separator::after
{
    content: '';
    flex: 1;
    height: 1px;
    background-color: var( --gray-500 );
}

.separator span
{
    color: var( --gray-500 );
}